/* ########### TAGS RAIZ SEM CLASSE ###########*/
body{
    display: flex;
    position: absolute;

    width: 100%;
    height: 1800px;

    align-items: center;
    justify-content: flex-start;

    flex-flow: column wrap;

    font-family: 'Merriweather';
    background-color: gray;
}

h1{
    font-size: 30px;
}

header{
    display: flex;
    
    flex-flow: column wrap;
    justify-content: space-around;    
    align-items: center;
    
    width: 800px;
    height: 200px;
    
    background-color: antiquewhite;
    
}

main{
    background-color: azure;
    width: 800px;
}

footer{
    background-color: bisque;
    width: 800px;
}

/* ########### IMAGENS ########### */
.logo_cavalo{
    background-color: gray;
    width: 100px;
}

.tabuleiro{
    border: 0;
    padding: 0;

    width: 100px;
    
    background-color: white;
}

/* ########### TAGS COM ID ###########*/

#logo_start{
    display: flex;
    
    background-color:cadetblue;

}

#logo_end{
    display: flex;
    
    justify-content: flex-end;

    background-color:cadetblue;
}

#menu_cross_start{
    display: flex;
    
    width: 100%;
}

#menu_cross_end{

    width: 100%;
    background-color: aquamarine;
}

#menu_cross_end ul{
    display: flex;
    
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-around;
    
}

#menu_cross_end ul li {
    
    background-color: blue;

}

/* ########### TAGS COM CLASSE ###########*/


